<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
  <h3>Báo cáo thống kê</h3>
    <span class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Doanh thu
      </button>
      <ul class="dropdown-menu">
        <li><a href="/staffreport/revenue" class="dropdown-item all">Ngày</a></li>
        <li><a href="/staffreport/revenue" class="dropdown-item service">Tuần</a></li>
        <li><a href="/staffreport/revenue" class="dropdown-item commission">Tháng</a></li>
      </ul>
    </span>

    <span class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Lợi nhuận
      </button>
      <ul class="dropdown-menu">
        <li><a href="/staffreport/profit" class="dropdown-item all">Ngày</a></li>
        <li><a href="/staffreport/profit" class="dropdown-item service">Tuần</a></li>
        <li><a href="/staffreport/profit" class="dropdown-item service">Tháng</a></li>
      </ul>
    </span>

  <!--   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
  
    Modal content
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-form">
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
    </div>
   -->

    


</div>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css"
rel="stylesheet" type="text/css" /> -->