#sidebar ul ul li a{ font-size:12px;}
#sidebar ul {list-style: none;padding: 0;margin: 0;width: 100%;}
#sidebar  li  a {font-weight:bold; background:image-url("images/tabRepeatInactive.png") repeat-x 0 0; color:#262626;}
#sidebar ul li li a{background:#eee; padding-left:14px;font-weight:normal;display:block;   font-size:13px; line-height:26px;}

#myCart  img{float:left; margin-right:8px; }
#myCart .badge {padding: 9px;}
#myCart {font-size: 13px;font-weight: bold; line-height: 33px;}

.thumbnail>a{display:block; text-align:center}
.thumbnail h5,.thumbnail p{text-align:center}