<!-- Footer ================================================================== -->
<footer id="footerSection" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h5>ACCOUNT</h5>
                <ul class="list-group">
                    <li class="footer-list"><a href="login.html">YOUR ACCOUNT</a></li>
                    <li class="footer-list"><a href="login.html">PERSONAL INFORMATION</a></li>
                    <li class="footer-list"><a href="login.html">ADDRESSES</a></li>
                    <li class="footer-list"><a href="login.html">DISCOUNT</a></li>
                    <li class="footer-list"><a href="login.html">ORDER HISTORY</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>INFORMATION</h5>
                <ul class="list-group">
                    <li class="footer-list"><a href="contact.html">CONTACT</a></li>
                    <li class="footer-list"><a href="register.html">REGISTRATION</a></li>
                    <li class="footer-list"><a href="legal_notice.html">LEGAL NOTICE</a></li>
                    <li class="footer-list"><a href="tac.html">TERMS AND CONDITIONS</a></li>
                    <li class="footer-list"><a href="faq.html">FAQ</a>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>OUR OFFERS</h5>
                <ul class="list-group">
                    <li class="footer-list"><a href="#">NEW PRODUCTS</a></li>
                    <li class="footer-list"><a href="#">TOP SELLERS</a></li>
                    <li class="footer-list"><a href="special_offer.html">SPECIAL OFFERS</a></li>
                    <li class="footer-list"><a href="#">MANUFACTURERS</a></li>
                    <li class="footer-list"><a href="#">SUPPLIERS</a></li>
                </ul>
            </div>
            <div id="socialMedia" class="col-lg-3">
                <h5>SOCIAL MEDIA </h5>
                <a href="#"><img width="60" height="60" src="<%= image_path "images/facebook.png" %>" title="facebook" alt="facebook"/></a>
                <a href="#"><img width="60" height="60" src="<%= image_path "images/twitter.png" %>" title="twitter" alt="twitter"/></a>
                <a href="#"><img width="60" height="60" src="<%= image_path "images/youtube.png" %>" title="youtube" alt="youtube"/></a>
            </div>
        </div>
        <p class="pull-right">&copy; Bootshop</p>
    </div>
    <!-- Container End -->
</footer>